body {
  background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -10%;
  width: 100%;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
}

/* Set HTML color-scheme value based on current theme */
html {
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme=dark] {
  color-scheme: dark;
}

body {
  /* Hide persistent scrollbar in IE (10/11) and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;

  /* Anchor links will transition rather than skip */
  scroll-behavior: smooth;

  /* Reset font size to 1rem, in case it has a pixel value */
  font-size: 1rem;
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.215em;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* FocuCSSingly */
a,
button,
input,
select,
submit,
textarea,
[tabindex]:not([tabindex="-1"]) {
  outline: 2px solid transparent;
  outline-offset: 5px;
  -webkit-transition: outline-offset .2s linear;
  -o-transition: outline-offset .2s linear;
  transition: outline-offset .2s linear;
}

a:focus,
button:focus,
input:focus,
select:focus,
submit:focus,
textarea:focus,
[tabindex]:not([tabindex="-1"]):focus {
  outline-color: currentColor;
  outline-offset: 2px;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
.datatable-wrapper {
  width: 100%;
  & .datatable-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
    @media (min-width: 640px) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  & .datatable-search .datatable-input {
    color: var(--color-gray-900);
    font-size: 0.875rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5rem;
    background-color: var(--color-gray-50);
    min-width: 16rem;
  }
  & .datatable-input {
    color: var(--color-gray-900);
    font-size: 0.875rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5rem;
    background-color: var(--color-gray-50);
    min-width: 16rem;
  }
  .dark & .datatable-search .datatable-input {
    color: white;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-700);
  }
  .dark & .datatable-input {
    color: white;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-700);
  }
  & thead th .datatable-input {
    background-color: white;
    font-weight: 400;
    color: var(--color-gray-900);
    padding-top: .35rem;
    padding-bottom: .35rem;
    min-width: 0;
  }
  .dark & thead th .datatable-input {
    background-color: var(--color-gray-700);
    border-color: var(--color-gray-600);
    color: white;
  }
  & .datatable-top .datatable-dropdown {
    color: var(--color-gray-500);
    font-size: 0.875rem;
  }
  .dark & .datatable-top .datatable-dropdown {
    color: var(--color-gray-400);
  }
  & .datatable-top .datatable-dropdown .datatable-selector {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    font-size: 0.875rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5rem;
    margin-right: 0.25rem;
    min-width: 4rem;
  }
  .dark & .datatable-top .datatable-dropdown .datatable-selector {
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-700);
    color: white;
  }
  & .datatable-container thead tr.search-filtering-row th {
    padding-top: 0;
  }
  & .datatable-search .datatable-input:focus {
    border-color: var(--color-blue-600);
  }
  & .datatable-container {
    overflow-x: auto;
  }
  & .datatable-table {
    width: 100%;
    font-size: 0.875rem;
    color: var(--color-gray-500);
    text-align: left;
  }
  .dark & .datatable-table {
    color: var(--color-gray-400);
  }
  & .datatable-table thead {
    font-size: 0.75rem;
    color: var(--color-gray-500);
    background-color: var(--color-gray-50);
  }
  .dark & .datatable-table thead {
    color: var(--color-gray-400);
    background-color: var(--color-gray-800);
  }
  & .datatable-table thead th {
    white-space: nowrap;
  }
  & .datatable-table thead th {
    width: auto !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  & .datatable-table tbody th {
    width: auto !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  & .datatable-table tbody td {
    width: auto !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  & .datatable-table thead th .datatable-sorter {
    text-transform: uppercase;
  }
  & .datatable-table thead th {
    text-transform: uppercase;
  }
  & .datatable-table thead th .datatable-sorter:hover {
    color: var(--color-gray-900);
  }
  & .datatable-table thead th.datatable-ascending .datatable-sorter {
    color: var(--color-gray-900);
  }
  & .datatable-table thead th.datatable-descending .datatable-sorter {
    color: var(--color-gray-900);
  }
  .dark & .datatable-table thead th .datatable-sorter:hover {
    color: white;
  }
  .dark & .datatable-table thead th.datatable-ascending .datatable-sorter {
    color: white;
  }
  .dark & .datatable-table thead th.datatable-descending .datatable-sorter {
    color: white;
  }
  & .datatable-table tbody tr.selected {
    background-color: var(--color-gray-100);
  }
  .dark & .datatable-table tbody tr.selected {
    background-color: var(--color-gray-700);
  }
  & .datatable-table tbody tr {
    border-bottom: 1px solid var(--color-gray-200);
  }
  .dark & .datatable-table tbody tr {
    border-bottom: 1px solid var(--color-gray-700);
  }
  & .datatable-table .datatable-empty {
    text-align: center;
  }
  & .datatable-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
    @media (min-width: 640px) {
      flex-direction: row;
      align-items: center;
    }
  }
  & .datatable-bottom .datatable-info {
    color: var(--color-gray-500);
    font-size: 0.875rem;
  }
  .dark & .datatable-bottom .datatable-info {
    color: var(--color-gray-400);
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.875rem;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
    color: var(--color-gray-400);
    border-color: var(--color-gray-700);
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type {
    position: relative;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type {
    position: relative;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(-50%, -50%);
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(50%, -50%);
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 1px solid var(--color-gray-300);
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-left: 1px solid var(--color-gray-700);
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
  }
  & .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
  }
  .dark & .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-700);
    color: white;
  }
}
.datatable-bottom {
  .datatable-wrapper & {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
    @media (min-width: 640px) {
      flex-direction: row;
      align-items: center;
    }
  }
  .datatable-wrapper & .datatable-info {
    color: var(--color-gray-500);
    font-size: 0.875rem;
  }
  .dark .datatable-wrapper & .datatable-info {
    color: var(--color-gray-400);
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.875rem;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item-link {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item-link {
    color: var(--color-gray-400);
    border-color: var(--color-gray-700);
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type {
    position: relative;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type {
    position: relative;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(-50%, -50%);
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(50%, -50%);
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-left: 1px solid var(--color-gray-700);
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
  }
  .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
  }
  .dark .datatable-wrapper & .datatable-pagination .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-700);
    color: white;
  }
}
.datatable-pagination {
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.875rem;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item-link {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item-link {
    color: var(--color-gray-400);
    border-color: var(--color-gray-700);
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type {
    position: relative;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type {
    position: relative;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(-50%, -50%);
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(50%, -50%);
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
    border-left: 1px solid var(--color-gray-700);
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
  }
  .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
  }
  .dark .datatable-wrapper .datatable-bottom & .datatable-pagination-list-item-link:hover {
    background-color: var(--color-gray-700);
    color: white;
  }
}
.datatable-pagination-list-item-link {
  .datatable-wrapper .datatable-bottom .datatable-pagination & {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination & {
    color: var(--color-gray-400);
    border-color: var(--color-gray-700);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type & {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type & {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type & {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type & {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type &::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(-50%, -50%);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type &:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type &::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type &:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type &::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(50%, -50%);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type &:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type &::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type &:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type & {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type & {
    border-left: 1px solid var(--color-gray-700);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type & {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:hover {
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:hover {
    background-color: var(--color-gray-700);
    color: white;
  }
}
.datatable-pagination-list-item {
  .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type {
    position: relative;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type {
    position: relative;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link {
    color: transparent;
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(-50%, -50%);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 1.3rem;
    height: 1.3rem;
    transform: translate(50%, -50%);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link:hover::after {
    content: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 1px solid var(--color-gray-300);
  }
  .dark .datatable-wrapper .datatable-bottom .datatable-pagination &:first-of-type .datatable-pagination-list-item-link {
    border-left: 1px solid var(--color-gray-700);
  }
  .datatable-wrapper .datatable-bottom .datatable-pagination &:last-of-type .datatable-pagination-list-item-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
  }
}